<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Accessibility 1,2,3</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <!-- Normalize -->
			<link href="/static/css/normalize.min.css" rel="stylesheet" media="screen">

			<!-- Typekit -->
			<script type="text/javascript" src="//use.typekit.net/uwf6zzp.js"></script>
			<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

			<!-- Custom CSS -->
	   	<link href="/static/css/font-awesome.min.css" rel="stylesheet" media="screen">

			<!-- Custom CSS -->
	   	<link href="/static/css/styles.css" rel="stylesheet" media="screen">

    </head>
    <body>
    	<div class="content">

	    	<header class="page-header">
	    		<h1>Accessibility 1,2,3</h1>
	    		<p class="intro">
	    		Instant Accessibilty FTW! If you follow these simple steps when designing or developing a website or app it will get you around 80-90% along the path of Accessibility
	    		</p>

	 				<div class="checklists">
	 					<div class="checklist bg-light">
	 						<h1>Design</h1>
	 						<ul class="fa-ul">
	 							<li><i class="fa-li fa fa-check-square"></i>Content First</li>
	 							<li><i class="fa-li fa fa-check-square"></i>Responsive</li>
	 							<li><i class="fa-li fa fa-check-square"></i>Color Contrast and Hiërarchy</li>
	 						</ul>
	 					</div>
	 					<div class="checklist bg-light">
	 						<h1>Develop</h1>
	 						<ul class="fa-ul">
	 							<li><i class="fa-li fa fa-check-square"></i>Use Semantic HTML</li>
	 							<li><i class="fa-li fa fa-check-square"></i>Test With Your Keyboard</li>
	 							<li><i class="fa-li fa fa-check-square"></i>Use WAI-ARIA</li>
	 						</ul>
	 					</div>
	 				</div>
	 			</header>

	 			<section class="page-body">

	 				<div class="centered">
		 				<p>And remember: 2 out of 3 ain't bad. But 3 out of 3 is better</p>
		 				<h2>But there is more...</h2>
		 				<p>There always is. The steps above will get you a long way but the following will help you to give everbody access to your precious information</p>
		 			</div>

		 			<div class="grid">
		 				<div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div><div class="col"></div>
		 			</div>

		 		</section>

		 	</div>
    </body>
</html>